body {
    background-color: beige;
    border: 3px solid gray;
    height: 600px;
    width: 800px;
    margin: auto;
    padding-top: 50px;
  }
  
  .box1 {
    width: 100px;
    height: 100px;
    background-color: rgb(186, 183, 183);
  
    margin: 200px auto;
  }
  
  .box2 {
    width: 100px;
    height: 100px;
  
    background-color: blue;
    position: relative;
  }
  
  .box3 {
    width: 100px;
    height: 100px;
    background-color: purple;
    position: relative;
    left: 700px;
    bottom: 100px;
  }
  .box4 {
    width: 100px;
    height: 100px;
    background-color: green;
    position: relative;
    left: 700px;
    bottom: 750px;
  }
  .box5 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    bottom: 850px;
  }
  