.box {
    background-color: white;
    border: 2px solid black;
    padding: 12px;
    position: absolute;
    height: 150px;
    width: 150px;
    z-index: 5;
  }
  body {
    position: relative;
  }
  
  .div1 {
    height: 170px;
    width: 200px;
  }
  .div2 {
    left: 150px;
    top: 140px;
  }
  
  .div3 {
    top: 270px;
    width: 400px;
  }
  
  .div4 {
    left: 370px;
    height: 350px;
  }
  